@import '../common/reset';

.randomimp-headline {
    .randomimp-headline-title {
        font-size: 36px;
        font-weight: 800;
    }

    .randomimp-headline-subtitle {
        font-size: 18px;
        font-weight: 700;
    }
}