@import '../common/reset';

.randomimp-link {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  padding: 15px;

  &:hover {
    opacity: 0.8;
  }

  .randomimp-widgetsize-large {
    height: 50px;
  }

  .randomimp-widgetsize-medium {
    height: 35px;
  }

  .randomimp-link-text {
    color: #0066b3;
    font-size: 16px;
  }
}
