@import '../common/reset';

.randomimp-pills {
  align-items: center;
  background-color: var(--randomimp-background, #0066b3);
  border-radius: 5px;
  border-width: 1px;
  color: #fff;
  display: inline-flex;
  font-size: 16px;
  height: 25px;
  justify-items: center;
  min-width: 25px;
  padding: 15px;
}
