@import '../common/reset';

.randomimp-textarea {
  align-items: center;
  border-bottom: 2px solid var(--randomimp-border, #0066b3);
  display: flex;
  justify-content: center;

  .randomimp-widgetsize-large .randomimp-textarea-field {
    height: 100px;
  }
    
  .randomimp-widgetsize-medium .randomimp-textfield-field {
    height: 70px;
  }

  .randomimp-textarea-field {
    background-color: transparent;
    border: none;
    color: var(--randomimp-field-color, #0066b3);
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    padding: 15px;
  }
}
